.has-form {list-style-type:none;}

.button {background-color:#8F8F8F;
	}
.button:hover {
        background: #D6D6D6; }

.search-red {
	background-color: #db251d;
	padding-top: 200px;
	padding-bottom: 0px;
}

.arrow { 
	margin: 70px auto 0px auto;
	display: block;
}

.arrowing {
	background-position: center;
	margin-right: auto;
	margin-left: auto;
}
